<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title><%= title %></title>
	</head>
	<body>
		<div class="message-board">
			<h1 class="message-header"><%= title %></h1>
			<div class="message-container">
				<% messages.map(message => { %>
				<div class="messages">
					<div class="message-left">
						<p><%= message.user %></p>
						<p>- <%= message.text %></p>
					</div>
					<div class="message-right">
						<p><%= message.added %></p>
					</div>
				</div>
				<% }); %>
			</div>
			<a class="add-message" href="/new">Add new message</a>
		</div>
	</body>
</html>
