<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title><%= title %></title>
	</head>
	<body>
		<div>
			<h1><%= title %></h1>
			<div>
				<% messages.map(message => { %>
				<div>
					<div>
						<p><%= message.user %></p>
						<p><%= message.text %></p>
					</div>
					<div>
						<p><%= message.added %></p>
					</div>
				</div>
				<% }); %>
			</div>
			<a href="/new">Add new message...</a>
		</div>
	</body>
</html>
